<!DOCTYPE html>
<html>
<head>
  <title>Birdwatchr Demo</title>
  <script src="bower_components/handlebars/handlebars.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="js/main.js"> </script>
</head>
<body>

  <a id="bird-data" href="#"> Bird Data </a>

  <div id="geolocate">
    <h3> Geolocator </h3>
    <form id="lat-long" action="/geocode">
      <label for="address"> Address: </label>
      <input type="text" name="address" placeholder="1600 Pennsylvania Ave NW, Washington DC 20500">
      <input id='lat-long-btn' type="submit">
    </form>
    <script id="geolocate-template" type="x-handlebars">
      <p> <strong> You submitted:</strong> {{address}}</p>
      <p> <strong>  Latitude: </strong> {{lat}} </p>
      <p> <strong> Longitude: </strong> {{lng}} </p>
    </script>
  </div>


  <div id="birds-list">
    <script id="sightings-template" type="x-handlebars">
      <h3> <strong> Bird: </strong> {{ bird }} </h3>
      <p> <strong> When: </strong> {{ date }} </p>
      <p> <strong> Where: </strong> {{ address }} </p>
      <p> <strong> Lat/Long: </strong> {{ lat }}, {{ lng }} </p>
    </script>
  </div>

</body>
</html>